body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
 
.sobre-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}


.button-return {
  background-color: white;
  color: black;
  border: 2px solid #04AA6D; 
  
}