<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <header>
        <nav class="menu">
            <ul>
                <li><a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/casa.png') }}" alt="logo-casa" class="logo-casa"></a></li>
                <li><a href="{{ url_for('sobre')}}"><img src="{{ url_for('static', filename='images/informacoes.png') }}" alt="logo-informações" class="logo-info"></a></li>
            </ul>
        </nav>
    </header>

    <script src="{{ url_for('static', filename='js/home.js') }}" async></script>
</body>
</html>


