<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sobre.css') }}">
</head>
<body>
  <div class="title">
    <h1>Sobre Nosso Site de Café</h1>
  </div>
  <div class="sub-title">
    <p>Aqui você encontra as melhores opções de café!</p>
  </div>

    <a href="{{ url_for('home') }}" ><button class="button-return">Voltar</button></a>
  
</body>
</html>
